.mondeo{
    animation: animation 5s infinite;
    
}
.wybuch{
    animation: animation1 5s infinite;
}

@keyframes animation {
    0%{
        margin-right: 400px;
    }
    50%{
        margin-left: 400px;
    }

    80%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
        
    }
}
@keyframes animation1 {
    0%{
        opacity: 0%;
    }
    80%{
        opacity:  0%;
    }
    100%{
        opacity: 100%;
        
    }
}
